<div class="level">
    <div class="level-item">&nbsp;</div>
    <a href="#/sectionform" class="button is-medium level-right">
        <span class="tag is-success is spaced">+</span>&nbsp;Add New
    </a>
</div>
<table class="table is-striped" ng-controller="Sectionlist">
    <thead>
        <tr>
            <th>SN</th>
            <th>SECTION CODE</th>
            <th>SECTION NAME</th>
            <th colspan="3">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tr ng-repeat="Section in sections">
        <td>{{Section.id}}</td>
        <td>{{Section.section_code}}</td>
        <td>{{Section.section_name}}</td>

        <td>
            <a href="#/view_section/{{section.id}}">
                <i class="fa fa-eye" title="view"></i>
            </a>
        </td>

        <td>
            <a href="#/edit_section/{{section.id}}">
                <i class="fa fa-edit" title="edit"></i>
            </a>
        </td>

        <td>
            <a ng-click="deleteSection(section.id);" href="javascript:void(0)">
                <i class="fa fa-trash-alt" title="delete"></i></a>
        </td>
    </tr>
</table>