<h1 class="is-title is2">Leave Forms</h1>
<div>
    <section>
        <form class="form" name="leave-form">
            <div class="field">
                <label class="label"> Staff ID </label>
                <div class="control has-icons-left">
                    <input ng-model="leaveform.staff_id" class="input" type="text" placeholder="STAFF ID" disabled>
                    <span class="icon is-small is-left">
                        <i class="fa fa-id-card"></i>
                    </span>
                </div>
            </div>
                <div class="field">
                    <label class="label"> Staff Name </label>
                    <div class="control has-icons-left">
                        <input ng-model="leaveform.staff_name" class="input" type="text" placeholder="STAFF NAME" disabled>
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label"> Department </label>
                    <div class="control has-icons-left">
                        <input ng-model="leaveform.department" class="input" type="text" placeholder="DEPARTMENT" disabled>
                        <span class="icon is-small is-left">
                            <i class="fa fa-work"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Date of Employement</label>
                    <div class="control has-icons-left">
                        <input ng-model="leaveform.date_of_employment" class="input" type="date" placeholder="DATE OF EMPLOYEMENT" style="cursor:pointer" disabled>
                        <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                            </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Leave Entitled</label>
                <div class="control">
                    <div>
                        <input ng-model="leaveform.entitled" type="text" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Name of Reliever</label>
                <div class="control">
                    <div>
                        <input ng-model="leaveform.reliever" type ="text" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Period of Proposed Leave</label>
                <div class="control">
                    <div>
                        <input value="{{leaveform.period_leave_day}}/{{leaveform.period_leave_month}}/{{leaveform.period_leave_year}}" type="text" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Proposed Resumption Date</label>
                <div class="control">
                    <div>
                        <input value="{{leaveform.period_leave_day_resume}}/{{leaveform.period_leave_month_resume}}/{{leaveform.period_leave_year}}" type="text" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Leave Entitled</label>
                <div class="control">
                    <div>
                        <input ng-model="leaveform.entitled" type="number" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Leave Balance</label>
                <div class="control">
                    <div>
                        <input ng-model="leaveform.balance_of_leave" type="number" class="input" disabled>
                    </input>
                    </div>
                </div>
            </div>
                <div class="field">
                    <label class="label">Days of Christian Public Holiday Covered </label>
                    <div class="control">
                        <div>
                            <input type="number" ng-model="leaveform.public_holiday" class="input" disabled>
                        </input>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Home Address</label>
                    <div class="control">
                        <textarea ng-model="leaveform.home_address" class="textarea" placeholder="HOME ADDRESS" disabled></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Recommendation by the Head of Department</label>
                    <div class="control">
                        <textarea ng-model="leaveform.hod_remark" class="textarea" placeholder="HOD RECOMMENDATION" disabled></textarea>
                    </div>
                </div>
                <label class="label"> Approved Date of Resumption </label>
                <div class="control has-icons-left">
                    <input ng-model="leaveforms.period_leave_day_resume" class="input" type="number" placeholder="STAFF ID" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-id-card"></i>
                    </span>
                </div>
            </div>
                <div class="field">
                <label class="label">Approved Month of Vacation </label>
                    <div class="control">
                        <div class= "select" style="width: 100%">
                            <select ng-model="leaveforms.period_leave_month_resume" type="text" class="input" required>
                                <option value="0" disabled>Please select one option</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="field">
                        <label class="label">Basic Salary </label>
                            <div class="control">
                                <div>
                                    <input type="number" ng-model="leaveforms.basics" class="input" id="basics" required>
                                </input>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Basic Allowance (Retype the Value) </label>
                                <div class="control">
                                    <div>
                                        <input type="number" ng-model="leaveforms.allowance" class="input" id="basics" value="{{leaveforms.basics/10}}" required>
                                    </input>
                                    </div>
                                </div>
                            </div>
                        
                    
                <div class="field">
                    <label class="label">Recommendation by the Administrative Manager</label>
                    <div class="control">
                        <textarea ng-model="leaveforms.admin_remark" class="textarea" placeholder="ADMIN RECOMMENDATION" ></textarea>
                    </div>
                </div>
			<div class="field">
                    <label class="label">ADMIN APPROVAL </label>
                        <div class="control">
                            <div class= "select" style="width: 100%">
                                <select ng-model="leaveforms.admin_approved" type="text" required>
                                    <option value="0" disabled>Please select one option</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>
                    </div>	
			<div class="field">
                    <label class="label">Recommendation by the Church Secretary</label>
                    <div class="control">
                        <textarea ng-model="leaveform.cs_remark" class="textarea" placeholder="ADMIN RECOMMENDATION" disabled ></textarea>
                    </div>
                </div>	
                <p style="background-color: mediumblue; color: white; width: 100%"><b>{{info}}</b></p><br><br>

<div class="field is-grouped">
    <div class="control">
        <button ng-click="save();" class="button is-link">Remark</button>
    </div>
    <div class="control">
        <button class="button is-light">Cancel</button>
    </div>
</div>
</form>
</section>
</div>