<h1 class="title is-2">Leave Form</h1>
<div>
    <section>
        <form class="form">
            <div class="field">
                <label class="label"> Staff ID </label>
                <div class="control has-icons-left">
                    <input ng-model="leaveform.staff_id" class="input" type="text" placeholder="STAFF ID" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-id-card"></i>
                    </span>
                </div>
            </div>
            
                <label class="label"> PERIOD OF LEAVE </label> <br>
                <div>
                <div class="field is-horizontal">
                    <div class="label is-normal">
                      <label class="label">Expected Date of Leave&nbsp;&nbsp;</label>
                    </div>
                      <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <select ng-model="leaveform.period_leave_day" type="number" class="input" required>
                                <option value="0" disabled>Please select one option</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                          <span class="icon is-small is-left">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </p>
                      </div>
                      <div class="label is-normal">
                        <label class="label">&nbsp; &nbsp;Expected Month of Leave&nbsp;&nbsp;</label>
                      </div>
                      <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <select ng-model="leaveform.period_leave_month" type="text" class="input" required>
                                <option value="0" disabled>Please select one option</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                          <span class="icon is-small is-left">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                </div>
                <div>
                  <div class="field is-horizontal">
                      <div class="label is-normal">
                        <label class="label">Expected Date of Resumption&nbsp;&nbsp;</label>
                      </div>
                        <div class="field">
                          <p class="control is-expanded has-icons-left has-icons-right">
                              <select ng-model="leaveform.period_leave_day_resume" type="number" class="input" required>
                                  <option value="0" disabled>Please select one option</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                  <option value="24">24</option>
                                  <option value="25">25</option>
                                  <option value="26">26</option>
                                  <option value="27">27</option>
                                  <option value="28">28</option>
                                  <option value="29">29</option>
                                  <option value="30">30</option>
                                  <option value="31">31</option>
                              </select>
                            <span class="icon is-small is-left">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </p>
                        </div>
                          <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <select ng-model="leaveform.period_leave_month_resume" type="text" class="input" required>
                                    <option value="0" disabled>Please select one option</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                              <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </p>
                          </div>
                          <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input ng-model="leaveform.period_leave_year" class="input" type="number" required placeholder="Year(yyyy)">
                              <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </p>
                          </div> 
                        </div>    
                    </div>
                    
            
            <div class="field">
                <label class="label">Grade Division</label>
                <div class="control">
                    <div class= "select" style="width: 100%">
                        <select ng-model="leaveform.entitled" type="number" class="input" required>
                            <option value="0" disabled>Please select one option</option>
                            <option value="14">Junior Staff</option>
                            <option value="21">Supervisory Staff</option>
                            <option value="28">Senior Staff</option>
                            <option value="28">Management Staff</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Name of Reliever</label>
                <div class="control">
                    <div>
                        <input ng-model="leaveform.reliever" type ="text" class="input" required>
                    </input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Number of Days Being Requested</label>
                <div class="control">
                    <div class= "select" style="width: 100%">
                        <select ng-model="leaveform.days_requested" type="number" class="input" required>
                            <option value="0" disabled>Please select one option</option>
                            <option value="7">One Week</option>
                            <option value="14">Two Week</option>
                            <option value="21">Three Week</option>
                            <option value="28">Four Week</option>
                        </select>
                    </div>
                </div>
            </div>

             
                <div class="field">
                    <label class="label">Days of Christian Public Holiday Covered </label>
                    <div class="control">
                        <div>
                            <input type="number" ng-model="leaveform.public_holiday" class="input" id="number_days" required></input>
                        </div>
                    </div>
                </div>
		<div class="field">
                <label class="label">Balance of Leave in Days (PLEASE RE-TYPE THE VALUE IN THE BOX)</label>
                    <div class="control">
                        <div>
                            <input type="number" ng-model="leaveform.balance_of_leave" class="input" value="{{leaveform.entitled - leaveform.days_requested - leaveform.public_holiday}}" required>
                        </input>
                        </div>
                    </div>
                </div>		
                <p style="background-color: mediumblue; color: white; width: 100%"><b>{{info}}</b></p><br><br>
<div class="field is-grouped">
    <div class="control">
        <button ng-click="save();" class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-light">Cancel</button>
    </div>
</div>
</form>
</section>
</div>
