<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portal Qualification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bulma.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../fontawesome/css/all.min.css">
</head>

<body>
        <header style="padding: 24px 12px 48px">
                <h1 class="title is-1">ENTER QUALIFICATION</h1>
            </header>
            <div ng-app="dclm-app" ng-controller="Qualifications">
    <form class="form"> 
             <br>
        <div class="field">
                <label class="label">Qualification Code</label>
                <div class="control">
                    <input ng-model="Qualifications.Qualification_code="input" type="  " placeholder="e.g. 020gd">
                </div>
            </div><br>
        <div class="field">
            <label class="label">Qualification Name</label>
            <div class="control">
                <input ng-model="Qualifications.Qualification_name class="input" type="text" placeholder="e.g B.SC">
            </div>
        </div><br>
<div class="field is-grouped is-grouped-center">
            <p class="control">
                <a class="button is-primary">
                            Submit
                          </a>
            </p>
            <p class="control">
                <a class="button is-light">
                            Cancel
                          </a>
            </p>
        </div>
    </form>
</div>
    <script src="js/angular.min.js"></script>
    <script src="js/da"></script>
</body>

</html>