<div>
    <section>
        <form class="form">
            <div class="field">
                <label class="label"> Staff ID </label>
                <div class="control has-icons-left">
                    <input ng-model="user.staff_id" class="input" type="text" placeholder="STAFF ID">
                    <span class="icon is-small is-left">
                        <i class="fa fa-id-card"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label"> Name </label>
                <div class="control has-icons-left">
                    <input ng-model="user.first_name" class="input" type="text" placeholder="FIRST NAME">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label"> Middle Name </label>
                <div class="control has-icons-left">
                    <input ng-model="user.middle_name" class="input" type="text" placeholder="MIDDLE NAME">
                    <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                </div>
            </div>
            <div class="field">
                <label class="label">  Surname </label>
                <div class="control has-icons-left">
                    <input ng-model="user.surname" class="input" type="text" placeholder="SURNAME">
                    <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input ng-model="user.email" class="input" type="email" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input ng-model="user.password" class="input" type="password" placeholder="PASSWORD">
                </div>
            </div>
            <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                    <div class="select input">
                        <select ng-model="user.gender">
                      <option value="Please select one option" disabled>Please select one option</option>
                      <option>Female</option>
                      <option>Male</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control has-icons-left">
                    <input ng-model="user.phone_number" class="input" type="tel" placeholder="PHONE NUMBER">
                    <span class="icon is-small is-left">
                            <i class="fa fa-phone"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Date of Birth</label>
                <div class="control has-icons-left">
                    <input ng-model="user.date_of_birth" class="input" type="date" placeholder="DATE OF BIRTH" style="cursor:pointer">
                    <span class="icon is-small is-left">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Section</label>
                <div class="control">
                    <div class="select" style="width: 100%">
                        <select class="input" ng-model="user.section_id">
                            <option value="0" disabled>Please select one option</option>
                            <option ng-repeat="section in user_sectionss" value="{{section.id}}">{{section.section_name}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field" ng-controller="user-departments">
                <label class="label">Department</label>
                <div class="control">
                    <div class="select" style="width: 100%">
                        <select class="input" ng-model="user.department_id">
                            <option value="0" disabled>Please select one option</option>
                            <option ng-repeat="department in user_departments" value="{{department.id}}">{{department.department_name}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">LGA of Work</label>
                <div class="control">
                    <div class="select input">
                        <select ng-model="user.location_of_work">
                      <option value="Please select one option" disabled>Please select one option</option>

                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">LGA of Origin</label>
                <div class="control">
                    <div class="select input">
                        <select ng-model="user.location_of_origin">
                      <option value="Please select one option" disabled>Please select one option</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Qualification</label>
                <div class="control">
                    <div class="select input">
                        <select ng-model="user.qualification">
                      <option value="Please select one option" disabled>Please select one option</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Date of Employement</label>
                <div class="control has-icons-left">
                    <input ng-model="user.date_of_employment" class="input" type="date" placeholder="DATE OF EMPLOYEMENT" style="cursor:pointer">
                    <span class="icon is-small is-left">
                            <i class="fa fa-calendar"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Grade Level</label>
                <div class="control input">
                    <div class="select">
                        <select ng-model="grade_level">
                      <option value="Please select one option" disabled>Please select one option</option>

                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Marital Status</label>
                <div class="control input">
                    <div class="select">
                        <select ng-model="user.marital_status">
                      <option value="Please select one option" disabled>Please select one option</option>
                      <option>Single</option>
                      <option>Married</option>
                      <option>Separated</option>
                      <option>Widow/Widower</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Home Address</label>
                <div class="control">
                    <textarea ng-model="user.home_address" class="textarea" placeholder="HOME ADDRESS"></textarea>
                </div>
            </div>
</div>

<div class="field">
    <label class="label">Scanned Documents</label>
    <div class="control">
      <input type="file" ng-model="filename" onchange = "angular.element(this).scope().filechange(e);" class="input">
    </div>
  </div>
<div class="field">
    <div class="control">
        <label class="checkbox">
                    <input ng-model="user.check" type="checkbox">&nbsp I accept that the information above are true and correct
                  </label>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button ng-click="save();" class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-light">Cancel</button>
    </div>
</div>
</form>
</section>
</div>