<!DOCTYPE html>
<html lang="en">

<head>
    <title>GROUP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
</head>

<body>
        <div ng-app="dclm-app" ng-controller="group_lgas">
    <form class="form">
    <div class="field">
       <h1 class="title is-2"> Enter State</h1><br>
        <div class="control">
            <div class="select input">
                <select class="input" ng-model="group_lgas.state_id">
                  <option >Select State id</option>
                  
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Local Government Name/Group</label>
        <div class="control">
            <input ng-model="group_lgas.lgas_name" class="input" type="text" placeholder="Text input">
        </div>
        
    </div>

    <div class="field">
        <label class="label">Local Government Code</label>
        <div class="control">
            <input ng-model="group_lgas.lga_cod" class="input" type="text" placeholder="Text input">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button ng-click="group();" class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link">Cancel</button>
        </div>
    </div>
</form>
    <script src="../js/angular.min.js"></script>
    <script src="..js/regions.js"></script>
</body>

</html>