<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Country of Work</title>
    <link rel="stylesheet" href="../../css/bulma.min.css">
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">

</head>

<body>
<header>
        <h1 class="title is-2">ADD COUNTRY</h1>
    </header>
    <div ng-app="dclm-app" ng-controller="country">
        <form class="form">

        </div>
        <section>
            <div class="field">
                <label class="label">Country Code</label>
                <div class="control">
                    <input ng-model = "country.country_code" type="text" class="input" placeholder="Country Code">
                </div>
            </div>
    
            <div class="field">
                <label class="label">Country Name</label>
                <div class="control has-icons-left">
                    <input ng-model="country.country_name" type="text" class="input" placeholder="Country Name">
                    <span class="icon is-small is-left">
                <i class="far fa-flag"></i>
              </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button ng-click="save();" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link">Cancel</button>
                </div>
            </div>
    
       </form>
        </section>
</body>

</html>